h1{
  text-align: center;
  font-size: xx-large;
}

img{
  display: block;
  margin: 0 auto;
  width: 25%;
  cursor: pointer;
}

input{
  margin-left: 40%;
}

.error-output{
  margin-left: 40%;
  font-size: 12px;
  font-style: italic;
  color: red;
}
